<div class="aboutcontain">
    <div class="aboutbgmg" style="background-image:url('{{ section.settings.bgimage | img_url:'master'}}')">
<div class="peopele">
<h2 class="peopltitle">{{section.settings.people}}</h2>
</div>
        <div class="producombo">
            <div class="producomboflex multiple">
                {% for block in section.blocks %}
                    <div class="producomboflex1">
                        <div class="producombo1">
                            <div class="producolor">
                            {% if block.settings.bioimg!= blank %}
                            <img src="{{block.settings.bioimg | img_url:'master'}}" class="producomboimage">
                            {% endif %}
                            </div>
                            <h2 class="producombotitle">{{block.settings.komtitle}}</h2>
                            <p class="producombopar producombotitle">{{block.settings.kompar}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% schema %}
{
"name": "aboutus",

"settings": [
{
    "id": "bgimage",
    "type": "image_picker",
     "label": "Banner Image"
    },
{
  "id" : "people",
  "type" : "text",
  "label" : "Heading"
}
],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
{
    "id": "bioimg",
    "type": "image_picker",
     "label": "Banner Image"
    },
  {
    "id" : "komtitle",
    "type" : "text",
    "label" : "Heading"
  },
  {
      "id" : "kompar",
      "type" : "text",
      "label" : "Name"
    }
]
}

],
"presets" : [
{
  "name" : "aboutus",
  "category" : "aboutus"

  }
]
}
{% endschema %}

<script>
    $('.multiple').slick({
  infinite: false,
  slidesToShow: 4.8,
  slidesToScroll: 3,
  dots: false,
  arrows:false,
  responsive: [
    {
      breakpoint: 820,
      settings: {
        slidesToShow: 3.6,
        slidesToScroll: 2
      
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2.2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 540,
      settings: {
        slidesToShow: 1.2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 300,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</script>